{# Script #1: Import CLI template For FMG. Create new Jinja CLI Template with the following contents#}

{# Nets Object is list of dictionaries containing Network Based MetaVariables #}
{# MetaVars should be in place om FMG prior to template creation #}
{# format key:metavar #}
{# 'netid':network1_netid will be used for VLANID / DHCP Server Index or both #}
{%- set nets = 
  [
        {'name':network1_name, 'port':network1_port, 'netid':network1_netid, 'subnet':network1_subnet, 'dhcp':network1_dhcp},
        {'name':network2_name, 'port':network2_port, 'netid':network2_netid, 'subnet':network2_subnet, 'dhcp':network2_dhcp},
  ]
-%}
